# ==============================================
# App
# ==============================================
# dev | prod
APP_ENV=dev
APP_DEBUG=true
APP_SECRET_KEY=

# ==============================================
# API
# ==============================================
API_HOST=0.0.0.0
API_PORT=8000
API_PREFIX=/api/v1

# ==============================================
# PostgreSQL
# ==============================================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=fastapi_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# ==============================================
# Redis
# ==============================================
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# ==============================================
# JWT
# ==============================================
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

# ==============================================
# pgAdmin
# ==============================================
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=

# ==============================================
# Email (Mailhog in dev, real SMTP in prod)
# ==============================================
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=noreply@example.com
SMTP_TLS=false

# ==============================================
# Celery
# ==============================================
CELERY_BROKER_URL=redis://:b64bdff4f1c0e954eed8ebba7861462523e40a9946961298@redis:6379/0
CELERY_RESULT_BACKEND=redis://:b64bdff4f1c0e954eed8ebba7861462523e40a9946961298@redis:6379/1
